<div class="row">
  <% if user_signed_in? %>
  <div class="medium-3 columns">
  <% else %>
  <div class="medium-6 columns">
  <% end %>
    <div class="boxed" id="search-box">
      <div id="search-form">
        <h3 class="text-center" id="search-form-header">Search Leads</h3>

        <%= form_tag leads_path, method: :get do %>
        <%= label_tag :q1, "Company name" %>
        <%= text_field_tag :q1 %>
        </br>
        <%= label_tag :q2, "Address" %>
        <%= text_field_tag :q2 %>
        </br>
        <%= label_tag :q3, "City" %>
        <%= text_field_tag :q3 %>
        </br>
        <%= label_tag :q4, "State" %>
        <%= text_field_tag :q4 %>
        </br>
        <%= label_tag :q5, "Zip code" %>
        <%= text_field_tag :q5 %>
        <div class="text-center">
          <%= submit_tag "Search", class: :button %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="boxed" id="results">
      <h3 class="text-center" id="search-results-header">Search Results</h3>

      <div class="list">
        <ul id="hover-list">
          <%@leads.each do |lead|%>
            <li id="hover-list-item"><a href="/leads/<%= lead.id %>"><%= lead.company_name %></a></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="medium-3 columns">
      <div class="boxed" id="create-leads-box">
        <div id="create-leads-option">
          <h3 class="text-center" id="create-leads-header">Create Leads</h3>

          <div class="text-center">
            <%= link_to "Create a Lead →", new_lead_path, class: :button, style: "width:230px;" %>
          </div>
        </div>
      </div>

      <div class="boxed" id="claimed-leads-box">
        <div id="claimed-leads-option">
          <h3 class="text-center" id="claimed-leads-header">Claimed Leads</h3>

          <div class="text-center">
            <%= link_to "View Claimed Leads →", "/my_leads", class: :button, style: "width:230px;" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div><!-- row -->
