  <div class="row">
    <div class="medium-3 columns">

      <div id="authed-search-form">
        <h3 class="text-center">Search Leads</h3>

        <%= form_tag leads_path, method: :get do %>
        <%= label_tag :q1, "Company name" %>
        <%= text_field_tag :q1 %>
        </br>
        <%= label_tag :q2, "Address" %>
        <%= text_field_tag :q2 %>
        </br>
        <%= label_tag :q3, "City" %>
        <%= text_field_tag :q3 %>
        </br>
        <%= label_tag :q4, "State" %>
        <%= text_field_tag :q4 %>
        </br>
        <%= label_tag :q5, "Zip code" %>
        <%= text_field_tag :q5 %>
        <div class="text-center">
          <%= submit_tag "Search", class: :button %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="medium-6 columns">

      <h3 class="text-center">Search Results</h3>

      <div class="list">
        <ul id="hover-list">
          <%@leads.each do |lead|%>
            <li id="hover-list-item"><a href="/leads/<%= lead.id %>"><%= lead.company_name %></a></li>
          <%end%>
        </ul>
      </div>
    </div>


    <div class="medium-3 columns">
      <% if user_signed_in? %>
      <div id="create-leads-option">

        <h3 class="text-center">Create Leads</h3>

        <div class="text-center">
          <%= link_to "Create a Lead →", new_lead_path, class: :button %>
        </div>
      </div>
      <% end %>
    </div>

  </div><!-- row -->
