<div id="back-to-search">
  <%= link_to "â† Return to Search", leads_path %>
</div>

<h1 id="company-header"><%=@lead.company_name%> Details:</h1>

</br>

<div class="row">
  <div class="medium-12 columns">

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyXlEt4Oi9PP1MVQWY9lVLF14IsA29x3U&sensor=false">
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        set_map('<%= @lead.phys_address %>', '<%= @lead.phys_state %>', '<%= @lead.phys_city %>');
      })
    </script>

    <div id="map-canvas"/>

  </div>
</div>

<div class="row">

  <% if user_signed_in?%>
  <div class="medium-3 columns">
  <% else %>
  <div class="medium-4 columns">
  <% end %>
    <h2>Basic Info</h2>

    <table class="tg">
      <tr>
        <th class="tg-yw4l">Company ID</th>
        <% if @lead.company_id.nil? || @lead.company_id == ""%>
          <td class="tg-yw4l"><i>N/A</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.company_id%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Company Name</td>
        <% if @lead.company_name.nil? || @lead.company_name == ""%>
          <td class="tg-yw4l"><i>N/A</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.company_name%></td>
        <%end%>
      </tr>
      <tr>
        <th class="tg-yw4l">Year Established</th>
        <% if @lead.year_est.nil? || @lead.year_est == ""%>
          <td class="tg-yw4l"><i>not found</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.year_est%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Address</td>
        <% if @lead.phys_address.nil? || @lead.phys_address == ""%>
          <td class="tg-yw4l"><i>no physical address available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.phys_address%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">City</td>
        <% if @lead.phys_city.nil? || @lead.phys_city == ""%>
          <td class="tg-yw4l"><i>no physical city available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.phys_city%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">State</td>
        <% if @lead.phys_state.nil? || @lead.phys_state == ""%>
          <td class="tg-yw4l"><i>no physical state available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.phys_state%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Zip Code</td>
        <% if @lead.phys_zip.nil? || @lead.phys_zip == ""%>
          <td class="tg-yw4l"><i>no physical zip available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.phys_zip%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Ownership</td>
        <% if @lead.ownership.nil? || @lead.ownership == ""%>
          <td class="tg-yw4l"><i>no ownership status available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.ownership%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Description</td>
        <% if @lead.description.nil? || @lead.description == ""%>
          <td class="tg-yw4l"><i>no description available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.description%></td>
        <%end%>
      </tr>
    </table>
  </div>

  <% if user_signed_in?%>
  <div class="medium-3 columns">
  <% else %>
  <div class="medium-4 columns">
  <% end %>
    <h2>Contact Info</h2>

    <table class="tg">
      <tr>
        <th class="tg-yw4l">Primary Phone</th>
        <% if @lead.phone.nil? || @lead.phone == ""%>
          <td class="tg-yw4l"><i>no primary phone available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.phone%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Alternate Phone</td>
        <% if @lead.alt_phone.nil? || @lead.alt_phone == ""%>
          <td class="tg-yw4l"><i>no alternate phone available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.alt_phone%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Toll-Free Phone</td>
        <% if @lead.toll_free_phone.nil? || @lead.toll_free_phone == ""%>
          <td class="tg-yw4l"><i>no toll-free phone available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.toll_free_phone%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Fax</td>
        <% if @lead.fax_phone.nil? || @lead.fax_phone == ""%>
          <td class="tg-yw4l"><i>no fax number available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.fax_phone%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Mailing Address</td>
        <% if @lead.mail_address.nil? || @lead.mail_address == ""%>
          <td class="tg-yw4l"><i>no mailing address available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.mail_address%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Mailing City</td>
        <% if @lead.mail_city.nil? || @lead.mail_city == ""%>
          <td class="tg-yw4l"><i>no mailing city available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.mail_city%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Mailing State</td>
        <% if @lead.mail_state.nil? || @lead.mail_state == ""%>
          <td class="tg-yw4l"><i>no mailing state available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.mail_state%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Mailing Zip Code</td>
        <% if @lead.mail_zip.nil? || @lead.mail_zip == ""%>
          <td class="tg-yw4l"><i>no mailing zip available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.mail_zip%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Contact Email</td>
        <% if @lead.email.nil? || @lead.email == ""%>
          <td class="tg-yw4l"><i>no email available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.email%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Website</td>
        <% if @lead.website.nil? || @lead.website == ""%>
          <td class="tg-yw4l"><i>no website available</i></td>
        <%else%>
          <td class="tg-yw4l"><%=link_to @lead.website, ("http://" + @lead.website), data: { confirm: "Continue to external website?" }%></td>
        <%end%>
      </tr>
    </table>
  </div>

  <% if user_signed_in?%>
  <div class="medium-3 columns">
  <% else %>
  <div class="medium-4 columns">
  <% end %>
    <h2>Sales Info</h2>

    <table class="tg">
      <tr>
        <td class="tg-yw4l">Employees on Site</td>
        <% if @lead.employees_on_site.nil? || @lead.employees_on_site == ""%>
          <td class="tg-yw4l"><i>employee data not found</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.employees_on_site%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Area of Distribution</td>
        <% if @lead.area_of_dist.nil? || @lead.area_of_dist == ""%>
          <td class="tg-yw4l"><i>distribution data not found</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.area_of_dist%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Annual Sales</td>
        <% if @lead.annual_sales.nil? || @lead.annual_sales == ""%>
          <td class="tg-yw4l"><i>sales data not found</i></td>
        <%else%>
          <td class="tg-yw4l"><%=@lead.annual_sales%></td>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Import Goods?</td>
        <% if @lead.imports.nil? || @lead.imports == ""%>
          <td class="tg-yw4l"><i>n/a</i></td>
        <%else%>
          <% if @lead.imports == true%>
            <td class="tg-yw4l">Y</td>
          <%else%>
            <td class="tg-yw4l">N</td>
          <%end%>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Woman Owned?</td>
        <% if @lead.woman_owned.nil? || @lead.woman_owned == ""%>
          <td class="tg-yw4l"><i>n/a</i></td>
        <%else%>
          <% if @lead.woman_owned == true%>
            <td class="tg-yw4l">Y</td>
          <%else%>
            <td class="tg-yw4l">N</td>
          <%end%>
        <%end%>
      </tr>
      <tr>
        <td class="tg-yw4l">Minority Owned?</td>
        <% if @lead.minority_owned.nil? || @lead.minority_owned == ""%>
          <td class="tg-yw4l"><i>n/a</i></td>
        <%else%>
          <% if @lead.minority_owned == true%>
            <td class="tg-yw4l">Y</td>
          <%else%>
            <td class="tg-yw4l">N</td>
          <%end%>
        <%end%>
      </tr>
    </table>
  </div>

  <% if user_signed_in?%>
    <div class="medium-3 columns">
      <h2 id="claim-header">Claim?</h2>
      <div class="medium-6 columns">
        <% if @user.id == @lead.user_id || @lead.user_id == 0 %>
          <% if @lead.status == 0%>
            <%= link_to "Claim Lead", {:controller => "leads", action: "claim", id: @lead.id}, method: :post, class: "button", style: "width:125px;" %>
            <%= link_to "Unclaim Lead", "#", class: "button success", style: "width:125px;" %>
          <% else %>
            <%= link_to "Claim Lead", "#", class: "button success", style: "width:125px;"%>
            <%= link_to "Unclaim Lead", {:controller => "leads", action: "unclaim", id: @lead.id}, method: :post, class: "button", style: "width:125px;" %>
          <% end %>
        <% else %>
          <p class="text-center">
            This lead has been claimed by another user.
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
