<div class="row">
  <div class="small-5 small-centered columns">
    <div class="log-in-header">
      <h2>Log in</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-5 small-centered columns">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    </br>
    <%= render "devise/shared/links" %>
  </div>
</div>

<br>
<div class="devise-back">
  <%= link_to "â† Back", :back, class: :button %>
</div>
