<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LeadFinder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a id="home-compass" href="/"><strong>LeadFinder</strong></a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <% if user_signed_in? %>
            <li class="background-nav" id="sign-out-btn"><strong><%= link_to 'Sign Out', destroy_user_session_path, class: :button, method: :delete %></strong></li>
            <li class="background-nav" id="edit-info-btn"><strong><%= link_to 'Edit Info', edit_user_registration_path, class: :button %></strong></li>
          <% else %>
            <li class="background-nav" id="sign-in-btn"><strong><%= link_to 'Sign In', new_user_session_path, class: :button %></strong></li>
            <li class="background-nav" id="sign-up-btn"><strong><%= link_to 'Sign Up', new_user_registration_path, class: :button %></strong></li>
          <% end %>
        </li>
      </ul>
      </section>
    </nav>

    <div class="row">
      <div class="small-4 small-centered columns" id="error-msg">
      <% flash.each do |key, value| %>
        <div data-alert class="flash">
          <%= value + " ✖︎"%>
        </div>
      <% end %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
